[submodule "lab-01-Palaciolol"]
    path = lab-01-Palaciolol
    url = git@github.com:MC202AB-2023s2/lab-01-Palaciolol.git
[submodule "lab-02-Palaciolol"]
	path = lab-02-Palaciolol
	url = git@github.com:MC202AB-2023s2/lab-02-Palaciolol.git
[submodule "lab-03-Palaciolol"]
	path = lab-03-Palaciolol
	url = git@github.com:MC202AB-2023s2/lab-03-Palaciolol.git
[submodule "lab-04-5-Palaciolol"]
	path = lab-04-5-Palaciolol
	url = git@github.com:MC202AB-2023s2/lab-04-5-Palaciolol.git
[submodule "lab-05-segunda-chance-Palaciolol"]
	path = lab-05-segunda-chance-Palaciolol
	url = git@github.com:MC202AB-2023s2/lab-05-segunda-chance-Palaciolol.git
[submodule "lab-06-Palaciolol"]
	path = lab-06-Palaciolol
	url = git@github.com:MC202AB-2023s2/lab-06-Palaciolol.git
[submodule "lab-07-Palaciolol"]
	path = lab-07-Palaciolol
	url = git@github.com:MC202AB-2023s2/lab-07-Palaciolol.git
